<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <servlet>
    <servlet-name>QuartzService</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.caiso.fit.quartzService</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.config.feature.XmlRootElementProcessing</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  
  <!-- To initialize Quartz when the war is deployed (not using Quartz installed in JBoss)
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>org.quartz.ee.servlet.QuartzInitializerServlet</servlet-class>
    <init-param>
      <param-name>config-file</param-name>
      <param-value>padawan_quartz.properties</param-value>
    </init-param>
    <init-param>
      <param-name>shutdown-on-unload</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>start-scheduler-on-load</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  -->
  
  <servlet-mapping>
    <servlet-name>QuartzService</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
